In [1]:
# 数据聚合与分组运算
'''
* 根据一个或多个键拆分pandas对象。
* 计算分组摘要统计，如计数，平均值，标准差，或用户自定义函数。
* 对DataFrame的列应用各种各样的函数。
* 应用组内转换或其他运算，如规格化，线性回归，排名或选取子集。
* 计算透视表或交叉表。
* 执行分位数分析以及其他分组分析。
'''

In [ ]:
# GroupBy技术
# split-apply-combine：拆分-应用-合并
# 分组键可以有多种形式，且类型不必相同
'''
* 列表或数组，其长度与待分组的轴一样。
* 表示DataFrame某个列名的值。
* 字典或Series，给出待分组轴上的值与分组名之间的对应关系。
* 函数，用于处理轴索引或索引中的各个标签。
'''

In [ ]:
# 分组键可以有多种形式，且类型不必相同
'''
* 列表或数组，其长度与待分组的轴一样
* 表示DataFrame某个列名的值
* 字典或Series，给出待分组轴上的值与分组名之间的对应关系。
* 函数，用于处理轴索引或索引中的各个标签
'''

In [13]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

df = DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)
})
print df

# 按照key1进行分组，并计算data1列的平均值。
grouped = df['data1'].groupby(df['key1'])
print grouped

grouped.mean()
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
print means
print means.unstack()

print df.groupby('key1').mean()
print df.groupby
print df.groupby(['key1', 'key2']).size()

      data1     data2 key1 key2
0 -1.030360  0.953955    a  one
1  0.343349  0.195315    a  two
2  3.040644  1.041066    b  one
3  0.654919  0.838934    b  two
4  1.060307 -0.367625    a  one
<pandas.core.groupby.SeriesGroupBy object at 0x10b750250>
key1  key2
a     one     0.014974
      two     0.343349
b     one     3.040644
      two     0.654919
Name: data1, dtype: float64
key2       one       two
key1
a     0.014974  0.343349
b     3.040644  0.654919
         data1     data2
key1
a     0.124432  0.260548
b     1.847781  0.940000
<bound method DataFrame.groupby of       data1     data2 key1 key2
0 -1.030360  0.953955    a  one
1  0.343349  0.195315    a  two
2  3.040644  1.041066    b  one
3  0.654919  0.838934    b  two
4  1.060307 -0.367625    a  one>
key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [18]:
# 对分组进行迭代
for name, group in df.groupby('key1'):
    print name
    print group
    
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print k1, k2
    print group
    
pieces = dict(list(df.groupby('key1')))
print pieces['b']

print df.dtypes
grouped = df.groupby(df.dtypes, axis=1)
print dict(list(grouped))

a
      data1     data2 key1 key2
0 -1.030360  0.953955    a  one
1  0.343349  0.195315    a  two
4  1.060307 -0.367625    a  one
b
      data1     data2 key1 key2
2  3.040644  1.041066    b  one
3  0.654919  0.838934    b  two
a one
      data1     data2 key1 key2
0 -1.030360  0.953955    a  one
4  1.060307 -0.367625    a  one
a two
      data1     data2 key1 key2
1  0.343349  0.195315    a  two
b one
      data1     data2 key1 key2
2  3.040644  1.041066    b  one
b two
      data1     data2 key1 key2
3  0.654919  0.838934    b  two
      data1     data2 key1 key2
2  3.040644  1.041066    b  one
3  0.654919  0.838934    b  two
data1    float64
data2    float64
key1      object
key2      object
dtype: object

{dtype('float64'):       data1     data2
 0 -1.030360  0.953955
 1  0.343349  0.195315
 2  3.040644  1.041066
 3  0.654919  0.838934
 4  1.060307 -0.367625, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [22]:
# 选取一个或一组列
df.groupby('key1')['data1']
df.groupby('key1')['data2']

# 语法糖
df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

df.groupby(['key1', 'key2'])[['data2']].mean()
s_grouped = df.groupby(['key1', 'key2'])['data2']
print s_grouped
print s_grouped.mean()

<pandas.core.groupby.SeriesGroupBy object at 0x10b7480d0>
key1  key2
a     one     0.293165
      two     0.195315
b     one     1.041066
      two     0.838934
Name: data2, dtype: float64

In [29]:
# 通过字典或Series进行分组
people = DataFrame(np.random.randn(5, 5),
                  columns=['a', 'b', 'c', 'd', 'e'],
                  index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.ix[2:3, ['b', 'c']] = np.nan
people

mapping = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f':'orange'}
by_column = people.groupby(mapping, axis=1)
by_column.sum()

map_series = Series(mapping)
map_series
people.groupby(map_series, axis=1).count()

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [31]:
# 通过函数进行分组
people.groupby(len).sum()
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.596690  0.367489 -0.746444 -0.420990 -0.958598
  two -0.927615 -1.174145  0.953140 -0.983420 -0.319627
5 one -0.131868 -0.807040 -0.447858  0.853136  0.481790
6 two -0.749879 -0.160314  1.555580 -1.187897  0.193280

In [35]:
# 根据索引级别分组
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]], names=['cty', 'tenor'])
hier_df = DataFrame(np.random.randn(4, 5), columns=columns)
print hier_df
hier_df.groupby(level='cty', axis=1).count()

cty          US                            JP
tenor         1         3         5         1         3
0      0.270362 -0.353070  1.493481  0.353684 -0.923391
1     -1.842414  0.427556  0.993812 -0.145021  1.356484
2     -0.894052 -0.010919 -0.663678  1.781484 -0.958673
3      1.237587 -0.795663 -0.276626 -1.171763  1.089347

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [42]:
# 数据聚合
df
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)
grouped.describe()

# 经过优化的groupby的方法
'''
count 分组中非NA值的数量
sum 非NA值的和
mean 非NA值的平均值
median 非NA值的算数中位数
std，var 无偏标准差和方差
min，max 非NA值的最小值和最大值
prod 非NA值的积
first，last 第一个和最后一个非NA值
'''

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0  0.124432  1.062387 -1.030360 -0.343505  0.343349  0.701828
b      2.0  1.847781  1.686962  0.654919  1.251350  1.847781  2.444212

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     1.060307   3.0  0.260548  0.663200 -0.367625 -0.086155  0.195315
b     3.040644   2.0  0.940000  0.142929  0.838934  0.889467  0.940000


           75%       max
key1
a     0.574635  0.953955
b     0.990533  1.041066

In [43]:
# 面向列的多函数应用
grouped = tips.groupby(['sex', 'smoker'])
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

NameError: name 'tips' is not defined

In [ ]:
# 以“无索引”的形式返回聚合数据
    # 可以向groupby传入as_index=False以禁用该功能
tips.groupby(['sex', 'smoker'], as_index=False).mean()

In [49]:
# 分组级运算和转换
df
k1_means = df.groupby('key1').mean().add_prefix('mean_')
print k1_means
print pd.merge(df, k1_means, left_on='key1', right_index=True)

key = ['one', 'two', 'one', 'two', 'one']
print people.groupby(key).mean()
print people.groupby(key).transform(np.mean)

def demean(arr):
    return arr - arr.mean()

demeaned = people.groupby(key).transform(demean)
print demeaned
print demeaned.groupby(key).mean()

      mean_data1  mean_data2
key1
a       0.124432    0.260548
b       1.847781    0.940000
      data1     data2 key1 key2  mean_data1  mean_data2
0 -1.030360  0.953955    a  one    0.124432    0.260548
1  0.343349  0.195315    a  two    0.124432    0.260548
4  1.060307 -0.367625    a  one    0.124432    0.260548
2  3.040644  1.041066    b  one    1.847781    0.940000
3  0.654919  0.838934    b  two    1.847781    0.940000
            a         b         c         d         e
one -0.548586  0.103588  0.404568  0.097725 -0.497833
two -0.529741 -0.990593  0.252641 -0.065142  0.081081
               a         b         c         d         e
Joe    -0.548586  0.103588  0.404568  0.097725 -0.497833
Steve  -0.529741 -0.990593  0.252641 -0.065142  0.081081
Wes    -0.548586  0.103588  0.404568  0.097725 -0.497833
Jim    -0.529741 -0.990593  0.252641 -0.065142  0.081081
Travis -0.548586  0.103588  0.404568  0.097725 -0.497833
               a         b         c         d         e
Joe     0.249398  0.263901 -1.151012 -0.518715 -0.230347
Steve   0.397874  0.183552 -0.700499  0.918278  0.400709
Wes    -0.048105       NaN       NaN  1.804337 -0.460765
Jim    -0.397874 -0.183552  0.700499 -0.918278 -0.400709
Travis -0.201293 -0.263901  1.151012 -1.285622  0.691112
                a             b    c             d             e
one -1.850372e-17  0.000000e+00  0.0  7.401487e-17 -7.401487e-17
two  0.000000e+00  5.551115e-17  0.0  0.000000e+00  0.000000e+00

In [51]:
# apply: 一般性的“拆分-应用-合并”
def top(df, n=5, column='tip_pct'):
    return df.sort_index(by=column)[-n:]

#top(tips, n=6)
#tips.groupby('smoker').apply(top)
#tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

result = tips.groupby('smoker')['tip_pct'].describe()
result
result.unstack('smoker')

f = lambda x: x.describe()
grouped.apply(f)

In [ ]:
# 禁止分组键
    # 将group_keys=False传入groupby即可禁止该效果
tips.groupby('smoker', group_keys=False).apply(top)

In [55]:
# 分位数和桶分析
frame = DataFrame({
    'data1': np.random.randn(1000),
    'data2': np.random.randn(1000)
})
factor = pd.cut(frame.data1, 4)
factor[:10]

def get_stats(group):
    return {
        'min': group.min(),
        'max': group.max(),
        'count': group.count(),
        'mean': group.mean()
    }
grouped = frame.data2.groupby(factor)
grouped.apply(get_stats).unstack()

grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.562651 -0.000406 -2.391071
1      100.0  3.595590 -0.062691 -2.236657
2      100.0  3.044853  0.143000 -2.545628
3      100.0  2.453288  0.042686 -2.185368
4      100.0  3.658681  0.239073 -2.014839
5      100.0  2.438026 -0.134369 -2.479225
6      100.0  2.680587 -0.067149 -1.578109
7      100.0  2.361673  0.033526 -1.756753
8      100.0  2.847543  0.113032 -2.343683
9      100.0  2.909974  0.008956 -2.245580

In [58]:
# 示例：分组加权平均数和相关系数
df = DataFrame({
    'category': ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'],
    'data': np.random.randn(8),
    'weights': np.random.rand(8)
})
print df

grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])
grouped.apply(get_wavg)

close_px = pd.read_csv('')
close_px
close_px[-4:]

rets = close_px.pct_change().dropna()
spx_corr = lambda x: x.corrwith(x['SPX'])
by_year = rets.groupby(lambda x: x.year)
by_year.apply(spx_crorr)

  category      data   weights
0        a  0.378944  0.129168
1        a -1.775597  0.550626
2        a  0.604895  0.410022
3        a -0.761828  0.702812
4        b  1.336926  0.807359
5        b -0.866725  0.396578
6        b  0.520963  0.799603
7        b  0.035086  0.744691

category
a   -0.678413
b    0.428765
dtype: float64

In [60]:
# 示例：面向分组的线性回归
import statsmodels.api as sm

def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sum.OLS(Y, X).fit()
    return result.params

by_year.apply(regress, 'AAPL', ['SPX'])

ImportError: No module named statsmodels.api

In [ ]:
# 透视表和交叉表
tips.pivot_table(rows=['sex', 'smoker'])
tips.pivot_table(['tip_pct', 'size'], rows=['sex', 'day'], cols='smoker')
tips.pivot_table(['tip_pct', 'size'], rows=['sex', 'dat'], cols='smoker', margins=True)
tips.pivot_table('tip_pct', rows=['sex', 'smoker'], cols='day', aggfunc=len, margins=True)
tips.pivot_table('size', rows=['time', 'sex', 'smoker'], cols='day', aggfunc='sum', fill_value=0)

# pivot_table的参数
'''
values 待聚合的列的名称。默认聚合所有数值列
rows 用于分组的列名或其他分组键，出现在结果透视表的行
cols 用于分组的列名或其他分组键，出现在结果透视表的列
aggfunc 聚合函数或函数列表，默认为'mean'。可以是任何对groupby有效的函数
fill_value 用于替换结果表中的缺失值
margins 添加行/列小记和总计，默认为False
'''

In [61]:
# 交叉表：crosstab
pd.crosstab(data.Gender, data.Handedness, margins=True)
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

NameError: name 'data' is not defined

In [ ]:
unique_cands = fec.cand_nm.unique()

# 取最大值
def get_top_amounts(group, key, n=5):
    totals = group.groupby(key)['contb_receipt_amt'].sum()
    # 根据key对totals进行降序排列
    return totals.order(ascending=False)[n:]

grouped = fec_mrbo.groupby('cand_nm')
grouped.apply(get_top_amounts, 'contbr_occupation', n=7)